@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* ignore - TS is wrong */
@theme {
  --color-dark-blue: #0d1b2a;
  --color-blue: #1b263b;
  --color-mid-blue: #415a77;
  --color-light-blue: #778da9;
  --color-mid-light-blue: #a4b6c9;
  --color-off-white: #f1f7ed;
  --color-aus-green: #0d2a1b;
  --font-roboto: "Roboto", sans-serif;
  --animate-slide-in: slide-in 0.3s ease-out;
  --animate-fade-in: fade-in 0.3s linear;

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
